[submodule "2. Understanding Function components with array and DOM manipulation/Lab: Function Component Event Planner Landing Page/event_planner"]
    path = 2. Understanding Function components with array and DOM manipulation/Lab: Function Component Event Planner Landing Page/event_planner
    url = https://github.com/Qmqmmyay/Developing-Front-end-Apps-with-React.git
    branch = main